<?xml version="1.0" encoding="utf-8"?>

<!-- Launch file to start the AR.Drone 2.0 simulator for AER1217 -->
<!-- UTIAS CARRE AER1217 - Winter 2017 
-->

<launch>

  <!-- TODO: Create ROS node that controls the AR Drone (aer1217_roscontroller.py) -->
  <node name="data_processor" pkg="processor" 
    type="processor.py" output="screen" required="True"/>  

</launch>
